---
title: Camille & Maximilien
layout: default
---

<section class="hero">
  <div class="container">
    <div class="cabinet">
      <img src="./assets/images/escampette.png" alt="photo de l'Escampette à Saffré">
    </div>
    <div class="cabinet">
      <p class="font-64">22 Juin 2024</p>
      <p class="font-36">L’Escampette, Saffré</p>
      <p class="font-36">15 h</p>
    </div>
  </div>
  <div class="container text">
    <h1 class="bold">On se marie !</h1>
    <p class="text-body">
      Chères invitées, chers invités,<br><br>
      Soyez les bienvenus sur ce site dédié à notre mariage. Vous y trouverez, on l'espère, toutes les réponses aux
      questions que vous vous posez.<br><br>
      Nous deux, c'est une rencontre à 17 ans, 10 ans d'amitié, 10 ans d'amour, deux enfants, 6 déménagements et des
      métiers qui évoluent tout le temps !<br><br>
      On a envie de célébrer avec vous la joie de s'être trouvés, de vous réunir, amis et famille et puis de se dire
      Oui! <br><br>
      On vous prépare un mariage festif, simple, chaleureux et participatif. Sur ce dernier point, on aura besoin de
      vous. Pour celles et ceux d'entre vous qui auront envie, on vous sollicitera prochainement dès que l'organisation
      sera plus avancée.<br><br>
      Pour finaliser les préparatifs nous avons besoin de vos réponses à ces questions philosophiques, merci de remplir
      ce formulaire avant le 1er Avril :<br>

    </p>
  </div>
  <div class="container">
    <img src="./assets/images/nous.png" alt="photo de l'Escampette à Saffré">
  </div>
</section>

{% include interlude.html %}

<section id="deroule">
  <h2 class="bold">Déroulé</h2>
  <h3></h3>
</section>

{% include interlude.html %}

<section id='parcours'>
  <h1 class="title semi-bold">Mon parcours</h1>
  <div class="flex-row">
    <p class="text-body beginning">
      </br>
      Je suis depuis tout petit fasciné par l’Homme et le vivant. Souhaitant être au coeur de cette expérience j’ai
      alors étudié l'ostéopathie, j’avais besoin de sentir toutes ces choses sous mes mains.</br></br></br>

      Pourtant et avant la fin de mes études j’étais insatisfait par les concepts mécanistes qui nous étaient enseignés.
      L’Homme y était abordé uniquement d’un point de vue anatomique et structurel. Idée à laquelle je ne pouvais me
      résoudre.</br></br></br>

      Une fois le diplôme obtenu j’ai suivi mon ressenti et suis parti explorer de nouveaux horizons. J’ai alors étudié
      plusieurs champs de pratique ostéopathique en suivant les enseignements en biodynamique de Bruno Josse, l’approche
      tissulaire de Pierre Tricot ainsi que les admirables cours de physiologie évolutionniste de Max Girardin. Ces
      formations
      m’ont appris à travailler avec plus de globalité et m’ont également permis d’accéder aux savoirs fondateurs de
      l’ostéopathie. J’entendais enfin parler de cette force de vie qui anime notre matière et nous permet de nous
      maintenir
      en état de santé.
    </p>
    <img src="./assets/images/david_jegou.webp" alt="David Jegou, praticien en Étiomédecine" width="301px"
      height="401px">
  </div>
  <p class="text-body">
    Ces nouvelles perspectives venaient confirmer mes premières intuitions et m’indiquaient que j’étais sur le bon
    chemin. Ma pratique évoluant, je commençais à procurer des soins de plus en plus profonds et j’en fus un temps
    satisfait.
    Mais au bout de plusieurs mois je constatais au travers de nombreux soins que mes résultats étaient limités. En
    effet et
    malgré une amélioration initiale, les symptômes des patients finissaient par revenir dans le temps. Malgré toute ma
    bonne volonté je n'arrivais pas à procurer un bien être durable, comme s’il me manquait une clef pour aller plus
    profondément dans le soin. La rigueur m'incitait à aller voir plus loin.</br></br></br>

    Je saisissais au fil du temps l’impact des blocages affectifs sur le bien-être psychique et corporel des patients et
    en regardant ma boîte à outils je me trouvais encore bien démuni pour accompagner ces personnes. Plus j’avançais et
    plus j’étais convaincu qu’il fallait toucher le lien qui unit le corps et l’esprit pour aider les patients à
    retrouver un
    bien être profond et durable.</br></br></br>

    C’est en poursuivant mon exploration que j’ai découvert l’étiomédecine en tant que patient. Ce fut une vraie
    révélation, je me sentais compris. À travers ces soins j’ai eu la sensation d’être accueilli dans mon entièreté,
    tant physique
    qu’affective. Je comprenais à quel point nos mémoires de souffrances pouvaient être la source de nos
    maux.</br></br></br>

    Cette approche me permit de me libérer de vieux schémas qui freinaient considérablement mon corps et mon évolution.
    Tout s'éclairait pour moi !</br></br></br>

    J'ai alors décidé de redonner ce qui m'avait moi-même aidé et me suis ainsi formé à cette approche en 2009 auprès de
    Max Bernardeau.</br></br></br>

    Je l’accompagne aujourd’hui dans la formation de nouveaux praticiens.</br></br></br>

    Aujourd'hui, c'est avec cet unique outil que j'ai choisi d'accompagner les patients au quotidien avec pour humble
    espoir de partager ce qui m'a moi même aidé.
  </p>
  <h1 class="title semi-bold black margin-top">Ma Formation</h1>
  <div class="diploma">
    <p class="semi-bold">DIPLOMÉ OSTÉOPATHE DO en 2008</p>
    <p>à IDHEO NANTES</p>
  </div>
  <div class="diploma">
    <p class="semi-bold">OSTÉOPATHIE BIODYNAMIQUE en 2008</p>
    <p>avec B. JOSSE</p>
  </div>
  <div class="diploma">
    <p class="semi-bold">OSTÉOPATHIE TISSULAIRE en 2012</p>
    <p>avec P. TRICOT</p>
  </div>
  <div class="diploma">
    <p class="semi-bold">PHYSIOLOGIE ÉVOLUTIONNISTE en 2012</p>
    <p>avec M. GIRARDIN</p>
  </div>
  <div class="diploma">
    <p class="semi-bold">ÉTIOMÉDECINE en 2009</p>
    <p>avec M. BERNARDEAU</p>
  </div>
</section>

{% include interlude.html %}

<section id="infos">
  <h1 class="title semi-bold">Infos pratiques</h1>
  <div class="addresses">
    <div class="address">
      <h2 class="semibold">Cabinet de Nantes</h2>
      <iframe title="Cabinet d'étiomédecine de David Jegou à Nantes"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10834.154939099093!2d-1.596505!3d47.2451678!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805ec2f677a0d3b%3A0x93d29d7c2e003fca!2sCabinet%20d&#39;%C3%A9tiom%C3%A9decine%20de%20David%20Jegou%20(Ost%C3%A9opathe%20D.O)!5e0!3m2!1sfr!2sfr!4v1700752457603!5m2!1sfr!2sfr"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="address">
      <h2 class="semibold">Cabinet de Belz</h2>
      <iframe title="Cabinet d'étiomédecine de David Jegou à Belz"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10745.75201599014!2d-3.177326!3d47.6759131!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48106908ca047645%3A0x23ca7995abfa7f6e!2sCabinet%20d&#39;%C3%A9tiom%C3%A9decine%20de%20David%20Jegou%20Ost%C3%A9opathe%20D.O!5e0!3m2!1sen!2sfr!4v1700753002863!5m2!1sen!2sfr"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="texts">
    <h2 class="phone semi-bold">07 81 32 23 99</h2>
    <p>davidjegou.etio@gmail.com</p>
    <p>Tarif des consultations : 70 €.</p>
  </div>
</section>

{% include interlude.html %}

<section>
  <h1 class="title semi-bold">Liens</h1>
  <ul class="links">
    <li>
      <a href="https://www.etiomed.com/" target="_blank">
        etiomed.com
      </a>
      <p>
        Site de Max Bernardeau, praticien à Paris et avec qui j’ai effectué ma formation.<br>
        Site de référence sur l’étiomédecine.
      </p>
    </li>
    <li>
      <a href="http://www.toulouse-etiomedecine.fr/" target="_blank">
        toulouse-etiomedecine.fr
      </a>
      <p>
        Site de Marie Da-dalt, praticienne à Toulouse.
      </p>
    </li>
    <li>
      <a href="https://letiomedecine.fr/" target="_blank">
        letiomedecine.fr
      </a>
      <p>
        Site d’Oriane Gagnieu, praticienne à Bordeaux.
      </p>
    </li>
    <li>
      <a href="https://etiomedecine.sitew.fr/" target="_blank">
        etiomedecine.sitew.fr
      </a>
      <p>
        Site de Camille Ziane, praticienne à Marseille.
      </p>
    </li>
  </ul>
</section>