---
title: Camille & Maximilien
layout: default
---

<section class="hero">
  <div class="container">
    <div class="column">
      <img src="./assets/images/escampette.png" alt="photo de l'Escampette à Saffré">
    </div>
    <div class="column">
      <p class="font-64">22 Juin 2024</p>
      <p class="font-36">L’Escampette, Saffré</p>
      <p class="font-36">15 h</p>
    </div>
  </div>
  <div class="container text">
    <h1 class="bold">On se marie !</h1>
    <p class="text-body">
      Chères invitées, chers invités,<br><br>
      Soyez les bienvenus sur ce site dédié à notre mariage. Vous y trouverez, on l'espère, toutes les réponses aux
      questions que vous vous posez.<br><br>
      Nous deux, c'est une rencontre à 17 ans, 10 ans d'amitié, 10 ans d'amour, deux enfants, 6 déménagements et des
      métiers qui évoluent tout le temps !<br><br>
      On a envie de célébrer avec vous la joie de s'être trouvés, de vous réunir, amis et famille et puis de se dire
      Oui! <br><br>
      On vous prépare un mariage festif, simple, chaleureux et participatif. Sur ce dernier point, on aura besoin de
      vous. Pour celles et ceux d'entre vous qui auront envie, on vous sollicitera prochainement dès que l'organisation
      sera plus avancée.<br><br>
      Pour finaliser les préparatifs nous avons besoin de vos réponses à ces questions philosophiques, merci de remplir
      ce formulaire avant le 1er Avril :<br>

    </p>
  </div>
  <div class="container">
    <img src="./assets/images/nous.png" alt="photo de l'Escampette à Saffré">
  </div>
</section>

{% include interlude.html %}

<section id="deroule">
  <h2 class="bold">Déroulé</h2>
  <div class="container">
    <h3>22 Juin 2024</h3>
    <div>
      <div class="flex-row">
        <h4>14h30</h4>
        <p>Ouverture du parking de l’Escampette</p>
      </div>
      <div class="flex-row">
        <h4>15h</h4>
        <p>Cérémonie laïque</p>
      </div>
      <div class="flex-row">
        <h4>16h15</h4>
        <p>Coupette Chouquette</p>
      </div>
      <div class="flex-row">
        <h4>18h30</h4>
        <p>À table !</p>
      </div>
      <div class="flex-row">
        <h4>23h</h4>
        <p>Soirée dansante</p>
      </div>
    </div>
  </div>
  <div class="container">
    <h3>23 Juin 2024</h3>
    <div>
      <div class="flex-row">
        <h4>12h</h4>
        <p>Salades-Grillades</p>
      </div>
      <div class="flex-row">
        <h4>15h</h4>
        <p>Rangement du lieu</p>
      </div>
      <div class="flex-row">
        <h4>18h</h4>
        <p>Clap de fin</p>
      </div>
    </div>
  </div>
</section>

{% include interlude.html %}

<section id='faq'>
  <h2 class="bold">Foire aux questions</h2>
  <div class="container">
    <div class="accordion">
      <div class="accordion-item">
        <button id="accordion-button-1" aria-expanded="false">
          <span class="accordion-title">
            Y-a-t'il un dress code ?
          </span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content">
          <p>
            Non, venez comme vous êtes, soyez à l'aise.<br><br>
            Le lieu est ouvert sur l'extérieur, on vous conseille de prévoir de quoi vous protéger du soleil ( ou de la
            pluie 😬) la journée, et une petite laine pour le soir.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-1" aria-expanded="false">
          <span class="accordion-title">
            Peut on dormir sur place ?
          </span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content plusplus">
          <p>
            Il y a un camping gratuit sur place pour tentes, camions aménagés et camping-car.<br><br>
            Si vous restez dormir sur le lieu, indiquez le bien dans le formulaire, qu'on vous prévoit le café pour le
            lendemain matin.<br><br>
            Voici une liste non exhaustive d'hébergements à proximité :

          </p>
          <ul>
            <li>
              <p>
                Gite Le Plessis Pas Brunet:<br>
                5 chambres de 2 à 5 personnes, dont deux avec salles de bain
                privatives.<br>
                Voir site “Rando Accueil”, 18 € la nuit<br>
                Edith Morissey : 07 70 18 35 08
              </p>
            </li>
            <li>
              <p>
                Chambres d’hôtes “Ecluse de la Tindière”<br>,
                62 à 97 € la nuit, 2 chambres de 2 et 4 personnes<br>
                06 70 04 45 09
              </p>
            </li>
            <li>
              <p>
                Chambre d'hôte : 55€ / à Héric (10 min) chez Béa et Thierry<br>
                06 51 65 30 99
              </p>
            </li>
            <li>
              <p>
                Chambre d'hôte : Escal Canal 44<br>
                2 chambres de 2 places<br>
                Voir site “Rando Accueil”<br>
                Annie et Alain Durand : 02 40 87 70 36 ou 06 80 92 97 32
              </p>
            </li>
            <li>
              <p>
                Les chambres d’hôtes de Vioreau, à Joué sur Erdre,<br>
                3 chambres de 2 à 4 places, 20 euros la nuit environ<br>
                Alain Souchet, voir site « Rando Accueil »
              </p>
            </li>
            <li>
              <p>
                L'abreuvoir : Hôtel de tourisme 3 étoiles,<br>
                Chambres doubles 85 €,<br>
                La croix blanche, 44 810 Héric (le long de l'axe Nantes/Rennes)
                <br>02 40 57 63 81
              </p>
            </li>
            <li>
              <p>
                Camping Le Port Mulon :<br>
                Mobile home ou chalet pour 4/5 pers au prix de 100 € environ.<br>
                Contact : 0240722357 www.camping-portmulon.com
              </p>
            </li>
            <li>
              <p>
                Location de tentes montées :<br>
                "Les relais Indriens, 06 85 10 69 23<br>
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-1" aria-expanded="false">
          <span class="accordion-title">
            Le mariage est il adapté aux enfants ?
          </span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content plus">
          <p>
            Les enfants, c'est la famille, ils sont les bienvenus, le lieu offre un bel espace pour jouer.<br><br>
            C'est à vous de choisir si vous voulez faire la fête avec ou sans eux !<br><br>
            Nous allons prévoir des babysitters/animatrices pour les enfants de 3 à 10 ans de 15h à 22h environ.<br>
            Ils resteront bien sûr sous votre responsabilité tout le temps du mariage.<br><br>
            Pour les plus petits qui font la sieste, contactez-nous pour que
            nous prévoyions un espace au calme.
          </p>
        </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-1" aria-expanded="false">
          <span class="accordion-title">
            Avez vous fait une liste de mariage ?
          </span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content">
          <p>
            Non, si vous souhaitez nous offrir quelque chose nous ouvrirons une cagnotte en ligne juste avant le jour J
            et il y aura aussi
            une cagnotte sur place.<br><br>
            Si vous avez envie de nous offrir un objet qui reste, contactez-nous.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include interlude.html %}

<section id="infos">
  <h1 class="title semi-bold">Infos pratiques</h1>
  <div class="addresses">
    <div class="address">
      <h2 class="semibold">column de Nantes</h2>
      <iframe title="column d'étiomédecine de David Jegou à Nantes"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10834.154939099093!2d-1.596505!3d47.2451678!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805ec2f677a0d3b%3A0x93d29d7c2e003fca!2scolumn%20d&#39;%C3%A9tiom%C3%A9decine%20de%20David%20Jegou%20(Ost%C3%A9opathe%20D.O)!5e0!3m2!1sfr!2sfr!4v1700752457603!5m2!1sfr!2sfr"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="address">
      <h2 class="semibold">column de Belz</h2>
      <iframe title="column d'étiomédecine de David Jegou à Belz"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10745.75201599014!2d-3.177326!3d47.6759131!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48106908ca047645%3A0x23ca7995abfa7f6e!2scolumn%20d&#39;%C3%A9tiom%C3%A9decine%20de%20David%20Jegou%20Ost%C3%A9opathe%20D.O!5e0!3m2!1sen!2sfr!4v1700753002863!5m2!1sen!2sfr"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="texts">
    <h2 class="phone semi-bold">07 81 32 23 99</h2>
    <p>davidjegou.etio@gmail.com</p>
    <p>Tarif des consultations : 70 €.</p>
  </div>
</section>

{% include interlude.html %}

<section>
  <h1 class="title semi-bold">Liens</h1>
  <ul class="links">
    <li>
      <a href="https://www.etiomed.com/" target="_blank">
        etiomed.com
      </a>
      <p>
        Site de Max Bernardeau, praticien à Paris et avec qui j’ai effectué ma formation.<br>
        Site de référence sur l’étiomédecine.
      </p>
    </li>
    <li>
      <a href="http://www.toulouse-etiomedecine.fr/" target="_blank">
        toulouse-etiomedecine.fr
      </a>
      <p>
        Site de Marie Da-dalt, praticienne à Toulouse.
      </p>
    </li>
    <li>
      <a href="https://letiomedecine.fr/" target="_blank">
        letiomedecine.fr
      </a>
      <p>
        Site d’Oriane Gagnieu, praticienne à Bordeaux.
      </p>
    </li>
    <li>
      <a href="https://etiomedecine.sitew.fr/" target="_blank">
        etiomedecine.sitew.fr
      </a>
      <p>
        Site de Camille Ziane, praticienne à Marseille.
      </p>
    </li>
  </ul>
</section>