header {
    background-color: black;
  
    .topnav {
      margin: auto;
      max-width: 1536px;
      width: 100%;
      padding: 8px 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      nav {
        display: none;
        width: 100%;
  
        @media only screen and (min-width: 834px) {
          display: flex;
          justify-content: center;
          gap: 64px;
        }

        a {
            color: white;
          }
      }  
    }
  
    .hamburger-lines {
      cursor: pointer;
      height: 26px;
      width: 32px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      @media only screen and (min-width: 834px) {
        display: none;
      }
  
      .line {
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background-color: white;
      }
  
      .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
  
      .line2 {
        transition: transform 0.2s ease-in-out;
      }
  
      .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
    }
  
    .sandwitch-menu {
      display: none;
      padding: 32px 0px;
    //   background-color: white;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 32px;
  
      a {
        color: white;
      }
    }
  }