@font-face {
  font-family: "LibreCaslonText";
  src: url("../fonts/LibreCaslonText-Regular.ttf");
  font-display: swap
}

@font-face {
  font-family: "LibreCaslonTextBold";
  src: url("../fonts/LibreCaslonText-Bold.ttf");
  font-display: swap
}

@font-face {
  font-family: "LibreCaslonTextItalic";
  src: url("../fonts/LibreCaslonText-Italic.ttf");
  font-display: swap
}

$primary-color: #E5DFC8;
$secondary-color: #E5DFC8;
$font-color: #433618;
$website-background: #FFFFFF;

// Reset styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// shared styles
body {
  font-family: "LibreCaslonText";
  background-color: $website-background;
  color: $font-color;

  a {
    text-decoration: none;
    color: $font-color;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }

  h1,
  h2 {
    font-size: 36px;
    font-weight: normal;
    text-align: center;
  }

  h3 {
    font-size: 32px;
    font-weight: normal;
    text-align: center;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 8px;
    gap: 64px;
  }

  .margin-top {
    margin-top: 64px;
  }

  .italic {
    font-style: italic;
  }

  .bold {
    font-weight: bold;
  }

  .underlined {
    text-decoration: underline;

    &:hover {
      background-color: $primary_color;
    }
  }

  .font-48 {
    font-size: 48px;
  }

  .font-36 {
    font-size: 36px;
  }

  .font-24 {
    font-size: 24px;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 32px;
  gap: 32px;

  p {
    text-align: center;
  }
}

.hero {
  .container {
    .column {
      img {
        min-width: 304px;

        @media only screen and (max-width: 620px) {
          width: 100%;
        }
      }
    }

    &.text {
      flex-direction: column;
    }

    .text-body {
      font-size: 16px;
      line-height: 32px;
      /* 150% */
      max-width: 1152px;
    }

    img {
      min-width: 304px;

      @media only screen and (max-width: 1000px) {
        width: 100%;
      }
    }
  }
}

#deroule {

  .container {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    width: 800px;
    align-items: baseline;
    gap: 64px;

    @media only screen and (max-width: 816px) {
      width: 100%;
    }

    .flex-row {
      margin-left: 64px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 64px;
      margin-bottom: 32px;

      h4,
      p {
        font-size: 24px;
      }

      h4 {
        min-width: 80px;
      }

      @media only screen and (max-width: 548px) {

        h4,
        p {
          font-size: 16px;
        }

        h4 {
          min-width: 50px;
        }

        margin-left: 0px;
      }
    }
  }

  ;
}

#faq {
  .container {
    margin: 0 auto;
    width: 600px;

    @media only screen and (max-width: 616px) {
      width: 100%;
    }

    .accordion {
      .accordion-item {
        border-bottom: 1px solid $primary-color;


        button[aria-expanded='true'] {
          border-bottom: 1px solid $primary_color;
        }
      }

      button {
        position: relative;
        display: block;
        text-align: left;
        width: 100%;
        padding: 16px 0;
        color: $font-color;
        font-size: 20px;
        font-weight: 200;
        border: none;
        background: none;
        outline: none;

        &:hover,
        &:focus {
          cursor: pointer;
          color: black;

          &::after {
            cursor: pointer;
            color: $primary_color;
            border: 1px solid $primary_color;
          }
        }

        .accordion-title {
          font-family: "LibreCaslonText";
          @media only screen and (max-width: 370px) {
            display: inline-block;
            width: 280px;
          }

        }

        .colored {
          color: red;
        }

        .icon {
          display: inline-block;
          position: absolute;
          top: 18px;
          right: 0;
          width: 22px;
          height: 22px;
          border: 1px solid;
          border-radius: 22px;

          &::before {
            display: block;
            position: absolute;
            content: '';
            top: 9px;
            left: 5px;
            width: 10px;
            height: 2px;
            background: currentColor;
          }

          &::after {
            display: block;
            position: absolute;
            content: '';
            top: 5px;
            left: 9px;
            width: 2px;
            height: 10px;
            background: currentColor;
          }
        }
      }

      button[aria-expanded='true'] {
        color: $primary_color;

        .icon {
          &::after {
            width: 0;
          }
        }

        +.accordion-content {
          opacity: 1;
          max-height: 11em;
          transition: all 200ms linear;
          will-change: opacity, max-height;

          &.plus {
            max-height: 22em;
          }

          &.plusplus {
            max-height: 72em;
          }

          @media only screen and (max-width: 616px) {
            max-height: 18em;

            &.plus {
              max-height: 28em;
            }

            &.plusplus {
              max-height: 94em;
            }
          }
        }
      }

      .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;

        a {
          text-decoration: underline;

          &:hover {
            background-color: $primary_color;
          }
        }

        &.flex {
          display: flex;
          align-items: center;
          gap: 64px;

          @media only screen and (max-width: 439px) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
            gap: 0px;

            a {
              margin: 32px auto 0px;
            }
          }
        }

        p {
          margin: 32px 0;
          line-height: 24px;
        }
      }
    }

    ul {
      list-style-type: square;
      margin-left: 16px;
    }
  }
}


#contacts {
  img {
    @media only screen and (max-width: 1152px) {
      width: 100%;
    }
  }

  iframe {
    @media only screen and (max-width: 616px) {
      width: 400px;
      height: 300px;
    }

    @media only screen and (max-width: 416px) {
      width: 100%;
    }
  }
}

.markdown-separator-xl {
  margin: 128px 0;

  @media only screen and (max-width: 933px) {
    // margin: 0px 0;
  }
}