@font-face {
  font-family: "LibreCaslonText";
  src: url("../fonts/LibreCaslonText-Regular.ttf");
  font-display: swap
}

@font-face {
  font-family: "LibreCaslonTextBold";
  src: url("../fonts/LibreCaslonText-Bold.ttf");
  font-display: swap
}

@font-face {
  font-family: "LibreCaslonTextItalic";
  src: url("../fonts/LibreCaslonText-Italic.ttf");
  font-display: swap
}

$primary-color: #E5DFC8;
$font-color: #433618;
$website-background: #FFFFFF;

// Reset styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html,
// body {
//   height: 100%;
// }

// .full-height {
//   display: flex;
//   flex-direction: column;
//   height: 100%;
//   overflow-x: hidden;
// }

// shared styles
body {
  font-family: "LibreCaslonText";
  background-color: $website-background;
  color: $font-color;

  a {
    text-decoration: none;
    color: $font-color;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }

  h1, h2 {
    font-size: 48px;
    font-weight: normal;
    text-align: center;
  }

  h3 {
    font-size: 32px;
    font-weight: normal;
    text-align: center;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 8px;
    gap: 64px;
  }

  .margin-top {
    margin-top: 64px;
  }

  .italic {
    font-style: italic;
  }

  .bold {
    font-weight: bold;
  }

  .font-64 {
    font-size: 64px;  
  }

  .font-36 {
    font-size: 36px;  
  }
}

.hero {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex-wrap: wrap;

    .cabinet {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px 32px;
      gap: 32px;

      p  {
        text-align: center;
      }

      img {
        min-width: 304px;

        @media only screen and (max-width: 620px) {
          width: 100%;
        }
      }
    }

    &.text {
      flex-direction: column;
    }

    .text-body {
      font-size: 16px;
      line-height: 32px;
      /* 150% */
      max-width: 1152px;
    }

    img {
      min-width: 304px;

      @media only screen and (max-width: 1000px) {
        width: 100%;
      }
    }
  }
}

#etiomedecine img {
  max-width: 1140px;
  width: 100%;
  min-width: 304px;
  aspect-ratio: 1140/500;
}

.title {
  color: $primary-color;
}



.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 64px;
}

.beginning {
  max-width: 787.81px;
}

#parcours {
  .flex-row {
    @media only screen and (max-width: 743px) {
      justify-content: center;
      flex-wrap: wrap-reverse;
    }
  }

  .diploma {
    text-align: center
  }

}

#infos {
  .addresses {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    // align-items: center;
    justify-content: center;

    .address {
      display: flex;
      flex-direction: column;
      gap: 32px;

      iframe {
        border-radius: 16px;
        max-width: 100%;
      }
    }
  }

  .texts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;

    .phone {
      color: black;
      padding: 16px 64px;
      border-radius: 15px;
      border: 1px solid black;
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 32px;

  a {
    text-decoration: underline;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    line-height: 30px;
  }

  p {
    line-height: 24px;
  }
}

.markdown-separator-xl {
  margin: 64px 0;
}

.markdown-separator-l {
  margin: 32px 0;
}

.markdown-separator-m {
  margin: 16px 0;
}