@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-display: swap
}

@font-face {
  font-family: "MontserratSemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-display: swap
}

@font-face {
  font-family: "MontserratItalic";
  src: url("../fonts/Montserrat-Italic.ttf");
  font-display: swap
}

$primary-color: #0074AD;
$font-color: #000000;
$website-background: #FFFFFF;

// Reset styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.full-height {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

// shared styles
body {
  font-family: "Montserrat";
  background-color: $website-background;
  color: $font-color;

  a {
    text-decoration: none;
    color: $font-color;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 32px;
    font-weight: normal;
    text-align: center;
  }

  h2 {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 8px;
    gap: 64px;
  }

  .margin-top {
    margin-top: 64px;
  }

  .italic {
    font-style: italic;
  }

  .semi-bold {
    font-family: "MontserratSemiBold";
  }
}

.hero {

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex-wrap: wrap;

    .cabinet {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 32px;
      gap: 32px;

      img {
        min-width: 304px;

        @media only screen and (max-width: 418px) {
          width: 100%;
        }
      }
    }
  }

  .phone {
    color: white;
    padding: 16px 64px;
    border-radius: 15px;
    background: var(--primary-color, #0074AD);
  }
}

.hero img {
  aspect-ratio: 402/268;
}

#etiomedecine img {
  max-width: 1140px;
  width: 100%;
  min-width: 304px;
  aspect-ratio: 1140/500;
}

.title {
  color: $primary-color;
}

.text-body {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  max-width: 1152px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 64px;
}

.beginning {
  max-width: 787.81px;
}

#parcours {
  .flex-row {
    @media only screen and (max-width: 743px) {
      justify-content: center;
      flex-wrap: wrap-reverse;
    }
  }

  .diploma {
    text-align: center
  }

}

#infos {
  .addresses {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    // align-items: center;
    justify-content: center;

    .address {
      display: flex;
      flex-direction: column;
      gap: 32px;

      iframe {
        border-radius: 16px;
        max-width: 100%;
      }
    }
  }

  .texts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;

    .phone {
      color: black;
      padding: 16px 64px;
      border-radius: 15px;
      border: 1px solid black;
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 32px;

  a {
    text-decoration: underline;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    line-height: 30px;
  }

  p {
    line-height: 24px;
  }
}

.markdown-separator-xl {
  margin: 64px 0;
}

.markdown-separator-l {
  margin: 32px 0;
}

.markdown-separator-m {
  margin: 16px 0;
}